body {
    margin: 0;
}

#menu ul {
    margin: 0;
    background-color: black;
    list-style: none;
}

#menu ul li {
    display: inline-block;
}

#menu ul li a {
    text-align: left;
    display: inline-block;
    color: rgb(62, 162, 230);
    text-decoration: none;
}

#data {
    text-align: center;
    display: inline;
    color: white;
    text-decoration: none;
}

#data a {
    text-align: center;
    display: inline;
    color: white;
    text-decoration: none;
}

#submenu {
    border-style: solid;
    border-bottom-width: 15px;
    border-top-width: 15px;
    border-right-width: 0;
    border-left-width: 0;
    border-color: grey;
}

#submenu ul {
    margin: 0;
    background-color: rgb(17, 155, 247);
    list-style: none;
}

#submenu ul li {
    display: inline;
}

#submenu ul li a {
    padding: 5px 10px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

#alinharesquerda {
    width: 1400px;
    height: 250px;
    margin: 20px;
    float: left;
    background-color: rgb(206, 205, 205);
}

#titulo {
    text-align: center;
    color: rgb(102, 167, 241)
}

#alinhardireita{
    width: 300px;
    height: 140px;
    margin: 30px, 0px;
    float: right;
    color: #87CEEB;
    padding-top: 140px;
    background-color: #001652;
    margin-right: 0;



    

}



#rodapecentro{
    background-color: black;
    color: white;
    width: 100%;
    float: left;
    margin-top: 100px;

}